body {
  background-color: rgb(25, 25, 25);
  color: rgb(212, 212, 212);
}

a {
  color: rgb(212, 212, 212);
}

a:hover {
  color: rgb(243, 243, 243);
}

.content {
  padding: 100px 15px 80px 15px;
}

nav {
  display: flex;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
}

.muted {
  color: rgb(114, 114, 114);
}

nav a {
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 10px;
  color: rgb(114, 114, 114);
  border-top: 3px solid transparent;
}

nav a.active {
  border-bottom: 3px solid rgb(114, 114, 114);
}

nav a:hover {
  color: rgb(229, 229, 229);
  border-top: 3px solid rgb(229, 229, 229);
}
