nav {
  display: flex;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  font-size: 14px;
}

nav a {
  text-decoration: none;
  color: rgb(149, 149, 149);
}

nav a:hover {
  text-decoration: none;
  color: rgb(190, 190, 190);
}

nav a.active {
  text-decoration: underline;
}
