.overview {
  margin-bottom: 50px;
  padding-top: 50px;
}

.day {
  margin-bottom: 40px;
}

.heading {
  margin-bottom: 10px;
}

.stats {
  color: rgb(139, 139, 139);
  font-size: 14px;
  margin-top: 2px;
}

.pics {
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 500px;
}

.scroll-help {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(159, 159, 159);
  text-align: center;
}

img {
  max-height: 100%;
}

#fullpage-pic {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;
}
